<main class="grid grid-center">
  <div class="contact-container glass">
    <h2 class="text-justify-center">Contact Us</h2>

    <div class="branches grid">
      <h3 class="text-justify-center">Our Branches</h3>
      @for (branch of branches(); track branch.identifier) {
        <div class="branch glass">
          <h4>{{ branch.name }}</h4>
          <p><i class="material-icons">location_on</i> {{ branch.address }}</p>
          <p><i class="material-icons">phone</i> {{ branch.phone }}</p>
        </div>
      }
    </div>
  </div>

</main>
