<main class="grid grid-center">
  <div class="container glass">
    <h2 class="text-justify-center">Entrega e Recolher</h2>
    <h3 class="text-justify-center">(Delivery and Pickup)</h3>

    <div class="grid grid-2 mob-grid-1">
      <a class="glass flex flex-align-center gap-1 cursor-pointer" href="/order/delivery">
          <i class="material-symbols-outlined">moped</i>
          <span>
            <h2>Entrega</h2>
            <h3>(Delivery)</h3>  
          </span>
      </a>
      <a class="glass flex flex-align-center gap-1 cursor-pointer" href="/order/pickup">
          <i class="material-symbols-outlined">shopping_bag</i>
          <span>
            <h2>Recolher</h2>
            <h3>(Pickup)</h3>  
          </span>
      </a>
    </div>
  </div>
</main>
