.order-location-container {
  width: min(100%, 50rem);
}


.branch > :first-child {
   width: 5rem;
  height: 5rem;
  object-fit: cover;
  font-size: 3rem;
  align-content: center;
}

.branch {
  display: flex;
  align-items: center;
  cursor: pointer;
}

h1, h2, h3 {
  text-align: center;
}
