<main class="grid grid-center">
    <section class="glass grid grid-4">
        <a class="glass glowText span-col-2" href="/DineIn/order">
            <i class="material-icons">moped</i>
            <span>
              <h2>Pedir Entregar e Levantar</h2>
              <h3>Order for delivery or pick up</h3>
            </span>
          </a>
          <a class="glass glowText span-col-2" href="/DineIn/dine-in-and-takeaway">
            <i class="material-icons">lunch_dining</i>
            <span>
              <h2>Consultar a menu para Din In</h2>
              <h3>View menu for Dine in</h3>
            </span>
          </a>
          <a class="glass glowText span-col-2" href="/DineIn/booking">
            <i class="material-icons">table_bar</i>
            <span>
              <h2>Fazer uma Reserva</h2>
              <h3>Make a reservation</h3>
            </span>
          </a>
          <a class="glass glowText span-col-2" href="/DineIn/location">
            <i class="material-icons">location_on</i>
            <span>
              <h2>Ver a nossa localizaqäo</h2>
              <h3>See our location</h3>
            </span>
          </a>
          <a class="glass glowText span-col-2" href="/DineIn/get-app">
            <i class="material-icons">get_app</i>
            <span>
              <h2>Instalar a nossa App</h2>
              <h3>Install our App</h3>
            </span>
          </a>
          <a class="glass glowText span-col-2" href="/DineIn/contact">
            <i class="material-icons">contact_support</i>
            <span>
              <h2>Contactar por Telefone</h2>
              <h3>Contact by phone</h3>
            </span>
        </a>
    </section>
    <section class="glass grid grid-2">
      <h2 class="span-col-2">Pedir através da (Order through)</h2>
        <a class="glass glowText" href="https://glovoapp.com/pt/pt/lisboa/savana-sushi-amadora-lis/">
             <span>
              <h2>Glovo</h2>
            </span>
          </a>
          <a class="glass glowText" href="https://www.ubereats.com/store/savana-sushi-amadora/cwzXn1P5RNODeKdRpNeZig?diningMode=DELIVERY">
            <span>
             <h2>Uber Eats</h2>
           </span>
        </a>
    </section>
    <section class="glass grid grid-2">
      <h2 class="span-col-2">Visitar o nosso (Visit Our)</h2>
        <a class="glass glowText" href="https://www.facebook.com/savana.pt/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M80 299.3l0 212.7 116 0 0-212.7 86.5 0 18-97.8-104.5 0 0-34.6c0-51.7 20.3-71.5 72.7-71.5 16.3 0 29.4 .4 37 1.2l0-88.7C291.4 4 256.4 0 236.2 0 129.3 0 80 50.5 80 159.4l0 42.1-66 0 0 97.8 66 0z" class="glowText"/></svg>
        </a>
        <a class="glass glowText" href="https://www.instagram.com/sushisavana/?hl=en">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224.3 141a115 115 0 1 0 -.6 230 115 115 0 1 0 .6-230zm-.6 40.4a74.6 74.6 0 1 1 .6 149.2 74.6 74.6 0 1 1 -.6-149.2zm93.4-45.1a26.8 26.8 0 1 1 53.6 0 26.8 26.8 0 1 1 -53.6 0zm129.7 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM399 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
        </a>
    </section>
    <section class="glass grid grid-3">
      <h2 class="span-col-3">Avaliaqöes no (Reviews In)</h2>
        <a class="glass glowText" href="https://www.facebook.com/savana.pt/">
          <span>
             <h2>TripAdvisor</h2>
           </span>
        </a>
        <a class="glass glowText" href="https://www.thefork.com/restaurant/savana-sushi-amadora-r802652">
          <span>
             <h2>The Fork</h2>
           </span>
        </a>
        <a class="glass glowText" href="https://www.google.com/search?q=savans+sushi+google&rlz=1C1GCEA_enPT1000PT1000&oq=savans+sushi+google&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKABMgkIAhAhGAoYoAEyCQgDECEYChigAdIBCDcwNjlqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8&lqi=ChNzYXZhbnMgc3VzaGkgZ29vZ2xlIgOIAQFI75XO8PevgIAIWh8QABABEAIYABgBIhNzYXZhbnMgc3VzaGkgZ29vZ2xlkgETamFwYW5lc2VfcmVzdGF1cmFudKoBXwoIL20vMDcwMzAQASoXIhNzYXZhbnMgc3VzaGkgZ29vZ2xlKAAyHxABIhvcFZOaaxdwFy3ZBYg28KTgLZ956qZoXWyo30cyFxACIhNzYXZhbnMgc3VzaGkgZ29vZ2xl#rlimm=10272036276986760869">
          <span>
             <h2>Google Maps</h2>
           </span>
        </a>
    </section>

</main>
