<main class="grid grid-center">
  <div class="order-location-container card-width glass">
    <h2 class="text-justify-center">Comer no local</h2>
    <h3 class="text-justify-center">(Dine In)</h3>

    <div class="grid grid-2">
        <a class="glass flex flex-align-center gap-1 cursor-pointer" href="{{ branch().redirects?.pdf?.dinein1 }}" target="_blank">
            <i class="material-symbols-outlined">table_bar</i>
            <span>
              <h2>à la carte</h2>
              <h3>(Menu)</h3>  
            </span>
        </a>
        <a class="glass flex flex-align-center gap-1 cursor-pointer" href="{{ branch().redirects?.pdf?.dinein2 }}" target="_blank">
            <i class="material-symbols-outlined">table_bar</i>
            <span>
              <h2>Rodizio</h2>
              <h3>(All You Can Eat)</h3>  
            </span>
        </a>
    </div>
  </div>

</main>
