<div class="order-container">
  <div class="menu glass">
    <h2>Menu</h2>
    @for (category of menu(); track category.id) {
      <div class="menu-category glass">
        <h3>{{ category.name }}</h3>
        <p>{{ category.description }}</p>
         @for (item of category.items; track item.id) {
          <div class="menu-item glass">
            <img [src]="item.image" [alt]="item.name" *ngIf="item.image">
            <i class="material-icons" *ngIf="!item.image">fastfood</i>
            <div class="item-details">
              <h3>{{ item.name }}</h3>
              <p>{{ item.description }}</p>
              <p class="price">{{ item.price | currency }}</p>
            </div>
            <button (click)="addToOrder(item)" class="glass"><i class="material-icons">add_shopping_cart</i></button>
          </div>
        }
      </div>
    }
  </div>

  <div class="order-summary glass">
    <h2>Order Summary</h2>
    @for (orderItem of order(); track orderItem.item.name) {
      <div class="order-item glass">
        <div class="item-details">
          <h3>{{ orderItem.item.name }}</h3>
          <p class="price">{{ orderItem.item.price | currency }}</p>
        </div>
        <div class="quantity-controls">
          <button (click)="removeFromOrder(orderItem.item)" class="glass"><i class="material-icons">remove</i></button>
          <span>{{ orderItem.quantity }}</span>
          <button (click)="addToOrder(orderItem.item)" class="glass"><i class="material-icons">add</i></button>
        </div>
      </div>
    }

    @if (order().length > 0) {
      <div class="total glass">
        <h3>Total: {{ total() | currency }}</h3>
        <button class="glass"><i class="material-icons">shopping_cart_checkout</i></button>
      </div>
    } @else {
      <p>Your order is empty.</p>
    }
  </div>
</div>
