
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --primary-color: #333;
  --secondary-color: #fff;
  --accent-color: #ff4040;
  --background-color: #f5f5f5;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

/* button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent-color);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
} */

input, textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}



:root {
    --focus-color: #ff0000;
    --background-color: #0a0a0a;
}


.glass {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5rem);
    -webkit-backdrop-filter: blur(5rem);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0rem 0.5rem 0.5rem 0 rgba(135, 31, 31, 0.37);
    color: #f5f5f5;
}
.glowText {
    text-shadow: 0 0 0.1rem #ffffff10, 0 0 0.2rem #ffffff10, 0 0 0.3rem #e6007310, 0 0 0.4rem #e6007310, 0 0 0.5rem #e6007310, 0 0 0.6rem #e6007310, 0 0 0.7rem #e60073;
}
.glass:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0.5rem 0.5rem 0.5rem 0 rgba(135, 31, 31, 0.47);
    transition: all 0.3s ease-in-out;
}

.grid {
    display: grid;
    gap: 2rem;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}
.span-col-2 {
    grid-column: span 2;
}
.grid-center {
  width: 100%;
    place-items: center;
    height: 100%;
}

.body  {
    background: radial-gradient(circle at top left,
              #ff003c 0%, 
              #99001a 5%, 
              #290007 20%, 
              #000000 100%);
    min-height: 100vh;
    height: 100vh;
    width: 100%;
}
app-root {
  min-height: 100%;
  height: 100%;
}